.root {
  min-height: inherit;
  align-content: start;
  background-color: var(--clr-bg);
}

.breadcrumbs {
  margin-inline: var(--gutter);

  & > ol {
    padding-block: 0.25rem;
    padding-inline-end: 0.25rem;
    background-color: light-dark(
      var(--clr-neutral-100),
      var(--clr-neutral-800)
    );
    width: fit-content;
  }
}

.inner {
  background-color: light-dark(var(--clr-neutral-100), var(--clr-neutral-800));
  padding-inline: var(--gutter);
  & * + * {
    margin-block-start: 0;
  }
}

@media screen and (min-width: calc(1200px + 2rem)) {
  .root {
    grid-template-rows: auto 3rem;

    & > img:first-of-type {
      grid-row: 1 / 3;
    }
  }
  .inner {
    grid-row: 2 / 4;
    margin-inline: calc(var(--gutter) * -1);

    & > h1 {
      margin-block: 0;
      padding-block: 0.25em;
    }
  }
  .breadcrumbs {
    position: absolute;

    & > *:first-child {
      margin-inline-start: -1rem;
      padding-inline: 1rem;
    }
  }
}

.eventTable {
  margin-block-end: 1rem;

  & th {
    width: fit-content;
    text-align: start;
  }
}
