.root {
  & * + * {
    margin-block-start: 0;
  }
}

.breadcrumbs {
  margin-inline: var(--gutter);

  & > ol {
    padding-block: 0.25rem;
    padding-inline-end: 0.25rem;
    background-color: light-dark(
      var(--clr-neutral-100),
      var(--clr-neutral-800)
    );
    width: fit-content;
  }
}

@media screen and (min-width: calc(1200px + 2rem)) {
  .root {
    grid-template-rows: auto 3rem;

    & > img:first-of-type {
      grid-row: 1 / 3;
    }

    & > h1 {
      grid-row: 2 / 4;
      margin-block: 0;
      padding-block: 0.25em;
      background: var(--clr-bg);

      box-shadow: calc(var(--gutter) * -1) 0 0
          var(
            --clr-bg,
            light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
          ),
        var(--gutter) 0 0
          var(
            --clr-bg,
            light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
          );
    }
  }
  .breadcrumbs {
    position: absolute;
  }
}
