.header {
  background: light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300));
  color: light-dark(var(--clr-base-teal-100), var(--clr-neutral-900));
}

.break {
  width: 100%;
  height: 1rem;
  background-color: var(
    --clr-brd,
    light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300))
  );
  border: none;
  margin-block-end: 0;
}

.article {
  background: var(
    --clr-bg,
    light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
  );

  & > .imgContainer {
    margin-inline: calc(var(--gutter) * -1);
  }

  & h3 {
    color: var(
      --clr-cta,
      light-dark(var(--clr-accent-blue-dark), var(--clr-accent-blue-light))
    );
    padding-block-start: 0.5em;
    margin: 0;
  }

  & > .articleTextWrapper {
    background-color: light-dark(
      var(--clr-neutral-100),
      var(--clr-neutral-900)
    );

    margin-inline: calc(var(--gutter) * -1);
    padding-inline: var(--gutter);
    & > * {
      grid-column: content;
    }
  }

  & a {
    color: inherit;
  }

  & hr {
    margin: 0;
  }
}
