.header {
  background: light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300));
  color: light-dark(var(--clr-base-teal-100), var(--clr-neutral-900));
}

.break {
  width: 100%;
  height: 1rem;
  background-color: var(
    --clr-brd,
    light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300))
  );
  border: none;
  margin-block-end: 0;
}

.article {
  background: var(
    --clr-bg,
    light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
  );

  & > .imgContainer {
    margin-inline: calc(var(--gutter) * -1);
  }

  & h3 {
    color: var(
      --clr-cta,
      light-dark(var(--clr-accent-blue-dark), var(--clr-accent-blue-light))
    );
    padding-block-start: 0.5em;
    margin: 0;
  }

  & > .articleTextWrapper {
    background-color: light-dark(
      var(--clr-neutral-100),
      var(--clr-neutral-900)
    );

    margin-inline: calc(var(--gutter) * -1);
    padding-inline: var(--gutter);
    & > * {
      grid-column: content;
    }
  }

  & a {
    color: inherit;
  }

  & hr {
    margin: 0;
  }
}

.singleEventContainer,
.eventsContainer {
  min-height: 8rem;
}

.eventsContainer {
  display: grid;
  gap: 1rem;
}

.eventsInnerGrid {
  display: grid;
  gap: inherit;
}

@media screen and (width > 70ch) {
  .eventsContainer {
    overflow-x: auto;

    .eventsInnerGrid {
      min-width: max-content;
      margin-inline: auto;
      grid-auto-flow: column;
      grid-auto-columns: 420px;
    }
  }
}

.eventCard {
  background: var(
    --clr-bg,
    light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
  );
  border-block-end: 1rem solid
    var(
      --clr-brd,
      light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300))
    );

  display: grid;
  grid-template-areas:
    "img title title"
    "img dtitle date"
    "img ttile time"
    "img ptitle place";
  grid-template-columns: auto auto 1fr;
  gap: 0 1ch;
  align-items: end;

  & table,
  & tr {
    display: contents;
  }

  & th {
    text-align: start;
  }

  & > h3 {
    grid-area: title;
    margin: 0;
    height: 3em;
    display: flex;
    align-items: center;
  }

  & a {
    color: var(
      --clr-cta,
      light-dark(var(--clr-accent-blue-dark), var(--clr-accent-blue-light))
    );
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  & > img {
    grid-area: img;
  }
}
