.header {
  background: light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300));
  color: light-dark(var(--clr-base-teal-100), var(--clr-neutral-900));
}

.break {
  width: 100%;
  height: 1rem;
  background-color: var(
    --clr-brd,
    light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300))
  );
  border: none;
  margin-block-end: 0;
}

.article {
  background: var(
    --clr-bg,
    light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
  );

  & h2 {
    color: var(
      --clr-cta,
      light-dark(var(--clr-accent-blue-dark), var(--clr-accent-blue-light))
    );
  }

  & a {
    color: inherit;
  }
}

@media screen and (width > 1000) {
  .article {
    & > img {
      grid-row: 1 / 3;
    }

    & h2 {
      grid-row: 2 / 3;
      background-color: var(
        --clr-bg,
        light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
      );
      padding-block-start: 0.5em;
      margin: 0;
      width: fit-content;
      box-shadow: calc(var(--gutter) * -1) 0 0
          var(
            --clr-bg,
            light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
          ),
        var(--gutter) 0 0
          var(
            --clr-bg,
            light-dark(var(--clr-neutral-100), var(--clr-neutral-900))
          );
    }
  }
}
