/* CalendarEventCard styles */
.root {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
}

.header {
  color: var(--clr-neutral-100);
  padding: 1.2rem 1.5rem 1rem 1.5rem;
  position: relative;
  isolation: isolate;

  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
    opacity: 87%;
  }
}

.header.blue::before {
  background: var(--clr-card-bg, var(--clr-base-blue-700));
}

.header.teal::before {
  background: var(--clr-card-bg, var(--clr-base-teal-700));
}

.header.green::before {
  background: var(--clr-card-bg, var(--clr-base-green-700));
}

.header.orange::before {
  background: var(--clr-card-bg, var(--clr-base-orange-700));
}

.header.red::before {
  background: var(--clr-card-bg, var(--clr-base-red-700));
}

.dateRow {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: start;
  gap: 0 0.25rem;
}

.day,
.month,
.year {
  text-box-trim: trim-both;
  text-box-edge: cap;
}

.day {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
}

.month {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  text-transform: uppercase;
}

.year {
  align-self: start;
  grid-column: 2/3;
  grid-row: 2/3;
}

.time {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: flex;
  align-items: center;
}

.clock {
  height: 1rem;
  width: 1rem;
  margin-inline-end: 0.5ch;
  & > path {
    stroke-width: 0.625rem;
  }
}

.content {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--clr-neutral-100);
}

.heading {
  margin-block: 0;
}

.title {
  &::after {
    inset: 0;
    content: "";
    position: absolute;
  }
}

.title.blue {
  color: var(--clr-accent-blue-dark);
}

.title.teal {
  color: var(--clr-accent-teal-dark);
}

.title.green {
  color: var(--clr-accent-green-dark);
}

.title.orange {
  color: var(--clr-accent-orange-dark);
}

.title.red {
  color: var(--clr-accent-red-dark);
}

.statusRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  margin: 0;
}

.statusDot {
  font-size: 1.5rem;
  color: #073b53;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
  gap: 2rem;
}
