/* CalendarEventCard styles */
.root {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  max-width: 28rem;
  width: 100%;
}

.header {
  color: var(--clr-neutral-100);
  padding: 1.2rem 1.5rem 1rem 1.5rem;
  position: relative;
  isolation: isolate;

  background-position: center;
  background-size: cover;

  &::after,
  &::before {
    content: "";

    position: absolute;
    z-index: -1;
  }

  &::before {
    opacity: 37%;
    inset: 0;
    background: var(--clr-card-bg, var(--clr-base-blue-700));
  }

  &::after {
    inset: 0;
    opacity: 100%;
    background: linear-gradient(
      90deg,
      var(--clr-card-bg, var(--clr-base-blue-700)) 33%,
      transparent
    );
  }
}

.header.blue {
  --clr-card-bg: var(--clr-base-blue-700);
}

.header.teal {
  --clr-card-bg: var(--clr-base-teal-700);
}

.header.green {
  --clr-card-bg: var(--clr-base-green-700);
}

.header.orange {
  --clr-card-bg: var(--clr-base-orange-700);
}

.header.red {
  --clr-card-bg: var(--clr-base-red-700);
}

.dateRow {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: start;
  gap: 0 0.25rem;
}

.day,
.month,
.year {
  text-box-trim: trim-both;
  text-box-edge: cap;
}

.day {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
}

.month {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  text-transform: uppercase;
}

.year {
  align-self: start;
  grid-column: 2/3;
  grid-row: 2/3;
}

.time {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: flex;
  align-items: center;
}

.clock {
  height: 1rem;
  width: 1rem;
  margin-inline-end: 0.5ch;
  & > path {
    stroke-width: 0.625rem;
  }
}

.content {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--clr-neutral-100);
}

.heading {
  margin-block: 0;
}

.title {
  &::after {
    inset: 0;
    content: "";
    position: absolute;
  }
}

.title.blue {
  color: var(--clr-accent-blue-dark);
}

.title.teal {
  color: var(--clr-accent-teal-dark);
}

.title.green {
  color: var(--clr-accent-green-dark);
}

.title.orange {
  color: var(--clr-accent-orange-dark);
}

.title.red {
  color: var(--clr-accent-red-dark);
}

.statusRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  margin: 0;
}

.statusDot {
  font-size: 1.5rem;
  color: #073b53;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
  gap: 2rem;
  justify-items: center;
}

.emptyState {
  max-width: 36rem;
  grid-column: 1 / -1;
  background-color: light-dark(var(--clr-neutral-100), var(--clr-neutral-900));

  border-color: light-dark(var(--clr-neutral-700), var(--clr-neutral-300));
}

.emptyState.blue {
  border-color: light-dark(var(--clr-base-blue-700), var(--clr-base-blue-300));
}

.emptyState.teal {
  border-color: light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300));
}

.emptyState.green {
  border-color: light-dark(
    var(--clr-base-green-700),
    var(--clr-base-green-300)
  );
}

.emptyState.orange {
  border-color: light-dark(
    var(--clr-base-orange-700),
    var(--clr-base-orange-300)
  );
}

.emptyState.red {
  border-color: light-dark(var(--clr-base-red-700), var(--clr-base-red-300));
}

.emptyState h3 {
  padding: 2rem;
  border-bottom: 0.25rem solid
    light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300));
  margin-block-start: 0rem;
  margin-block-end: 1rem;
}

.emptyState p {
  margin: 0;
  line-height: 1.6;
  padding: 0rem 2rem 2rem;
}
