/* === VOLVO BRAND FONT FACES === */

@font-face {
  font-family: "Volvo Novum 3.1";
  src: url("/fonts/VolvoNovum3-SemiLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Volvo Novum 3.1";
  src: url("/fonts/VolvoNovum3-SemiLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Volvo Novum 3.1";
  src: url("/fonts/VolvoNovum3-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Volvo Novum 3.1";
  src: url("/fonts/VolvoNovum3-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Volvo Novum 3.1";
  src: url("/fonts/VolvoNovum3-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Volvo Novum 3.1";
  src: url("/fonts/VolvoNovum3-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Volvo Broad Spread";
  src: url("/fonts/VolvoBroadSpread.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Volvo Broad Spread Outline";
  src: url("/fonts/VolvoBroadSpreadOutline-Large.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Font variables */
  --font-family-body: "Volvo Novum 3.1", Arial, Helvetica, sans-serif;
  --font-family-display: "Volvo Broad Spread", Arial, Helvetica, sans-serif;
  --font-family-display-outline:
    "Volvo Broad Spread Outline", Arial, Helvetica, sans-serif;

  /* === BASE COLORS === */
  --clr-base-red-900: #622128;
  --clr-base-red-700: #9e2a2b;
  --clr-base-red-300: #dda69d;
  --clr-base-red-100: #f0ddd7;

  --clr-base-green-900: #22372b;
  --clr-base-green-700: #476d3b;
  --clr-base-green-300: #a3b2a4;
  --clr-base-green-100: #e0e7d9;

  --clr-base-blue-900: #202a44;
  --clr-base-blue-700: #1b365d;
  --clr-base-blue-300: #7089ac;
  --clr-base-blue-100: #ced9e5;

  --clr-base-teal-900: #0e343e;
  --clr-base-teal-700: #27535f;
  --clr-base-teal-300: #cee1e5;
  --clr-base-teal-100: #d3e9e6;

  --clr-base-orange-900: #694524;
  --clr-base-orange-700: #a85f02;
  --clr-base-orange-300: #d9b48b;
  --clr-base-orange-100: #f0dfc6;

  /* === ACCENT COLORS === */
  --clr-accent-red-dark: #9e2a3f;
  --clr-accent-red-light: #ff82a3;
  --clr-accent-green-dark: #366432;
  --clr-accent-green-light: #b7c86b;
  --clr-accent-blue-dark: #0c2b7e;
  --clr-accent-blue-light: #3a95ba;
  --clr-accent-teal-dark: #127362;
  --clr-accent-teal-light: #6fc8b8;
  --clr-accent-orange-dark: #91561b;
  --clr-accent-orange-light: #f6c28a;

  /* === NEUTRAL COLORS === */
  --clr-neutral-900: #000000;
  --clr-neutral-800: #141414;
  --clr-neutral-700: #53565a;
  --clr-neutral-600: #888b8d;
  --clr-neutral-500: #a7aba9;
  --clr-neutral-300: #e1dfdd;
  --clr-neutral-100: #ffffff;

  color-scheme: light;
  /* //TODO: Dark mode */
  color-scheme: light dark;
}

/* === MINIMAL MODERN CSS RESET === */
html {
  box-sizing: border-box;
  font-size: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  --gutter: 1rem;
  --clr-bg: light-dark(var(--clr-neutral-100), var(--clr-neutral-800));

  min-height: 100vh;
  font-family: var(--font-family-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-bg);

  scroll-timeline: --main-timeline;
}

@media screen and (width > 600px) {
  body {
    --gutter: 2rem;
  }
}

/* === Display texts === */
.text-display-2xl {
  font-size: 8rem; /* 128px */
  line-height: 6.5rem; /* 104px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-family: var(--font-family-display);
}

.text-display-xl-outline {
  font-size: 6rem; /* 96px */
  line-height: 6.5rem; /* 104px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-family: var(--font-family-display-outline);
}

.text-display-xl {
  font-size: 6rem; /* 96px */
  line-height: 6.5rem; /* 104px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-family: var(--font-family-display);
}

.text-display-lg {
  font-size: 4rem; /* 64px */
  line-height: 4.5rem; /* 72px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-family: var(--font-family-display);
}

.text-display-md {
  font-size: 3rem; /* 48px */
  line-height: 3.5rem; /* 56px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-family: var(--font-family-display);
}

.text-display-sm {
  font-size: 2.5rem; /* 40px */
  line-height: 3rem; /* 48px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-family: var(--font-family-display);
}

/* === Body texts === */
.text-lg {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 400;
}

.text-lg-bold {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 700;
}

.text-lg-italic {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-style: italic;
  font-weight: 400;
}

.text-base-bold {
  font-size: 1rem; /* 16px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 700;
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 400;
  font-style: normal;
}

.text-base-italic {
  font-size: 1rem; /* 16px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-style: italic;
  font-weight: 400;
}

.text-sm-bold {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 700;
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 400;
}

.text-sm-italic {
  font-size: 0.875rem; /* 14px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-style: italic;
  font-weight: 400;
}

/* === Expressive texts === */
.text-preamble-lg {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 300;
}

.text-preamble-md {
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 300;
}

.text-preamble-sm {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-weight: 300;
}

.text-cardheader-novum-lg,
.text-cardheader-lg {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 700;
}

.text-cardheader-novum-md,
.text-cardheader-md {
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0.03125rem; /* 0.5px */

  font-weight: 700;
}

.text-cardheader-sm-novum,
.text-cardheader-sm {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 700;
}

.text-cardheader-lg,
.text-cardheader-md,
.text-cardheader-sm {
  font-family: var(--font-family-display);
}

.text-cardheader-novum-lg,
.text-cardheader-novum-md,
.text-cardheader-novum-sm {
  font-family: var(--font-family-body);
}

/* === LAYOUT === */
.page-container {
  --padding-inline: var(--gutter);
  --content-max-width: 70ch;
  --breakout-max-width: 1200px;
  --breakout-lg-max-width: 1600px;

  --breakout-size: calc(
    ((var(--breakout-max-width) - var(--content-max-width)) / 2)
  );
  --breakout-lg-size: calc(
    (var(--breakout-lg-max-width) - var(--breakout-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding-inline), 1fr)
    [gutter-lg-start] minmax(0, var(--breakout-lg-size))
    [gutter-start] minmax(0, var(--breakout-size))
    [content-start] min(
      var(--content-max-width),
      100% - var(--padding-inline) * 2
    )
    [content-end] minmax(0, var(--breakout-size))
    [gutter-end] minmax(0, var(--breakout-lg-size))
    [gutter-lg-end] minmax(var(--padding-inline), 1fr)
    [full-end];

  & > * {
    grid-column: content;
  }

  & > .breakout {
    grid-column: gutter;
  }

  & > .breakout-lg {
    grid-column: gutter-lg;
  }

  & > .full-width {
    grid-column: full;
  }
}

/* === COLOURING BLOCKS === */

.red {
  --clr-bg: light-dark(var(--clr-base-red-100), var(--clr-base-red-900));
}

.red-nobg,
.red {
  --clr-cta: light-dark(
    var(--clr-accent-red-dark),
    var(--clr-accent-red-light)
  );
  --clr-brd: light-dark(var(--clr-base-red-700), var(--clr-base-red-300));
}

.orange {
  --clr-bg: light-dark(var(--clr-base-orange-100), var(--clr-base-orange-900));
}

.orange,
.orange-nobg {
  --clr-brd: light-dark(var(--clr-base-orange-700), var(--clr-base-orange-300));
  --clr-cta: light-dark(
    var(--clr-accent-orange-dark),
    var(--clr-accent-orange-light)
  );
}

.green {
  --clr-bg: light-dark(var(--clr-base-green-100), var(--clr-base-green-900));
}

.green,
.green-nobg {
  --clr-cta: light-dark(
    var(--clr-accent-green-dark),
    var(--clr-accent-green-light)
  );
  --clr-brd: light-dark(var(--clr-base-green-700), var(--clr-base-green-300));
}

.teal {
  --clr-bg: light-dark(var(--clr-base-teal-100), var(--clr-base-teal-900));
}

.teal,
.teal-nobg {
  --clr-cta: light-dark(
    var(--clr-accent-teal-dark),
    var(--clr-accent-teal-light)
  );
  --clr-brd: light-dark(var(--clr-base-teal-700), var(--clr-base-teal-300));
}

.blue {
  --clr-bg: light-dark(var(--clr-base-blue-100), var(--clr-base-blue-900));
}

.blue,
.blue-nobg {
  --clr-cta: light-dark(
    var(--clr-accent-blue-dark),
    var(--clr-accent-blue-light)
  );
  --clr-brd: light-dark(var(--clr-base-blue-700), var(--clr-base-blue-300));
}

/* === FOOTER THEMES === */

main:has(.footer-theme-blue:first-child) + footer {
  --clr-footer-bg: var(--clr-base-blue-900);
  --clr-footer-link: var(--clr-accent-teal-light);
  --clr-footer-detail: var(--clr-accent-teal-dark);
}
html:has(.footer-theme-blue:first-child) {
  background-color: var(--clr-base-blue-900);
}

main:has(.footer-theme-green:first-child) + footer {
  --clr-footer-bg: var(--clr-base-green-900);
  --clr-footer-link: var(--clr-accent-green-light);
  --clr-footer-detail: var(--clr-base-green-700);
}
html:has(.footer-theme-green:first-child) {
  background-color: var(--clr-base-green-900);
}

main:has(.footer-theme-teal:first-child) + footer {
  --clr-footer-bg: var(--clr-base-teal-900);
  --clr-footer-link: var(--clr-accent-green-light);
  --clr-footer-detail: var(--clr-base-green-700);
}
html:has(.footer-theme-teal:first-child) {
  background-color: var(--clr-base-teal-900);
}

main:has(.footer-theme-orange:first-child) + footer {
  --clr-footer-bg: var(--clr-base-orange-900);
  --clr-footer-link: var(--clr-accent-orange-light);
  --clr-footer-detail: var(--clr-base-orange-300);
}
html:has(.footer-theme-orange:first-child) {
  background-color: var(--clr-base-orange-900);
}

main:has(.footer-theme-red:first-child) + footer {
  --clr-footer-bg: var(--clr-base-red-900);
  --clr-footer-link: var(--clr-accent-orange-light);
  --clr-footer-detail: var(--clr-base-orange-700);
}
html:has(.footer-theme-red:first-child) {
  background-color: var(--clr-base-red-900);
}

[data-sanity-icon] {
  /* This fixes a bug where the icons inside sanity studio are tiny */
  font-size: 1.5rem !important;
  margin: 0rem !important;
}
