.root {
  background-color: light-dark(
    var(--clr-base-orange-100),
    var(--clr-base-orange-900)
  );
}

.content {
  position: relative;
  text-align: center;
  padding: 2rem;
  max-width: 600px;
  background-color: light-dark(var(--clr-neutral-100), var(--clr-neutral-800));
  margin-block: 6rem;
  margin-inline: auto;
  border: light-dark(var(--clr-base-orange-700), var(--clr-base-orange-300))
    0.5rem solid;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  & h1 {
    margin: 1rem;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
