.calenderSection {
  padding-block-end: 5rem;
  background-color: light-dark(
    var(--clr-base-blue-100),
    var(--clr-base-blue-700)
  );

  & > h2 {
    text-align: center;
  }
}

.current {
  margin-bottom: 5rem;
  gap: 2rem 0;

  & > h2 {
    margin-block-end: 0;
  }
}

.about {
  background: var(--clr-base-green-100);
  padding: 6rem 0;

  & > h2 {
    text-align: center;
    color: var(--clr-base-green-900);
  }
}

.aboutCards {
  display: grid;
  gap: var(--gutter);
}

@media screen and (width > 1200px) {
  .aboutCards {
    grid-template-columns: 1fr 1fr;
  }
}
