.calenderSection {
  padding-block-end: 5rem;
  background-color: light-dark(
    var(--clr-base-blue-100),
    var(--clr-base-blue-900)
  );

  & > h2 {
    text-align: center;
  }
}

.current {
  margin-bottom: 5rem;
  gap: 2rem 0;

  & > h2 {
    margin-block-end: 0;
  }
}

.about {
  background: light-dark(var(--clr-base-green-300), var(--clr-base-green-900));
  padding: 6rem 0;

  & > h2 {
    text-align: center;
    color: light-dark(var(--clr-base-green-900), var(--clr-base-green-100));
  }
}

.aboutCards {
  display: grid;
  gap: var(--gutter);
}

@media screen and (width > 1200px) {
  .aboutCards {
    grid-template-columns: 1fr 1fr;
  }
}

.seeMorePosts {
  max-width: fit-content;
  margin-inline: auto;
  margin-top: 2rem;
}
