.header.blue {
  background: var(--clr-base-blue-700);
  color: var(--clr-base-blue-100);
}

.header.teal {
  background: var(--clr-base-teal-700);
  color: var(--clr-base-teal-100);
}

.header.green {
  background: var(--clr-base-green-700);
  color: var(--clr-base-green-100);
}

.header.orange {
  background: var(--clr-base-orange-700);
  color: var(--clr-base-orange-100);
}

.header.red {
  background: var(--clr-base-red-700);
  color: var(--clr-base-red-100);
}
